@model string
<div class="card d-flex justify-content-center shadow-sm p-1">
    <div class="card-header d-flex justify-content-between">
        <h6 class="d-flex m-0">Imagen de Muestra</h6>
    </div>
    <div class="card-body" id="imgProduct">
        <img class="w-100" src="@Model" alt="Default image">
    </div>
</div>
