@model List<Entidades.Categoria>

<div class="card w-100 d-flex justify-content-center shadow-sm p-1">
    <div class="card-header d-flex justify-content-between">
        <h6 class="d-flex m-0">Productos por categoría</h6>
        <button type="button" class=" btn btn btn-ligth py-0 px-2" onclick="actualizar();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
            </svg>
        </button>
    </div>
    <div class="card-body">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script>
    // Grafico de Barras
    $(document).ready(function () {

    feather.replace({ 'aria-hidden': 'true' })

    // Graphs
    var ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    var myChart = new Chart(ctx, {
        type: 'bar', // pie, bar
        data: {
            labels: [
                @foreach (var category in Model)
                {
                    <text>'@category.Nombre',</text>
                }
            ],
            datasets: [{
                data: [
                    @foreach (var category in Model)
                {
                    <text>@category.Producto.Count(),</text>
                }
                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 3,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });
 });

</script>